<div class="ui container contact">
  <div class="ui horizontal divider">
    <h2 class="ui center aligned header">CONTATO</h2>
  </div>
  <div class="ui relaxed items">
    <div class="item">
      <div class="ui image">
        <i class="huge call icon"></i>
      </div>
      <div class="content">
        <div class="header">
          AGENDE SUA VISITA
        </div>
        <div class="description">
          <p class="">Você pode entrar em contato conosco pelos telefones (62) 3215-7777 ou
            (62) 3215-7700.</p>
        </div>
        <div class="extra">
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ui image">
        <i class="huge map outline icon"></i>
      </div>
      <div class="content">
        <div class="header">
          ENDEREÇO
        </div>
        <div class="description">
          <p>O IBEDEC-GO está localizado na Rua 5, número 1011 (acima da Praça Tamandaré), Setor Oeste, Goiânia/GO.</p>
        </div>
        <div class="extra">
        </div>
      </div>
    </div>
  </div>
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3821.8125287431326!2d-49.26580388447436!3d-16.686262149968147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935ef1681e7b78fd%3A0x7cb28a47596f1a2b!2sIBEDEC+-+Instituto+Brasileiro+de+Estudo+e+Defesa+das+Rela%C3%A7%C3%B5es+de+Consumo!5e0!3m2!1spt-BR!2sbr!4v1499373473379" width="800" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>