<div class="ui container expertise">
  <div class="ui horizontal divider">
    <h2 class="ui center aligned header">ÁREAS DE ATUAÇÃO</h2>
  </div>
  <div class="ui relaxed divided items">
    <div class="item">
      <div class="ui image">
        <i class="massive building outline icon"></i>
      </div>
      <div class="content">
        <div class="header">
          CONSTRUTORAS
        </div>
        <div class="description">
          <p>Em nosso dia-a-dia de atendimento e orientação ao consumidor, são muitas as dúvidas que surgem neste tipo de contrato de consumo, o que ensejou a sua abordagem através das nossas <%= link_to 'cartilhas e manuais', booklets_path %> visando garantir os direitos dos consumidores.</p>
          <p>Esperamos que este material didático lhe seja de grande valia e contamos com sua colaboração para enriquecê-lo a cada ano, com novas sugestões que você pode nos falar <%= link_to 'clicando aqui', contact_path %>.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ui image">
        <i class="massive mobile icon"></i>
      </div>
      <div class="content">
        <div class="header">
          TELEFONIA
        </div>
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim egestas dui, et semper ligula bibendum nec. Praesent sapien augue, molestie sit amet laoreet non, accumsan in lorem. Pellentesque non mollis felis, id efficitur neque. Donec id ultrices tortor, vitae tempus odio. Vestibulum diam magna, tincidunt vitae ultrices id, consectetur ut est. Duis tristique at sapien nec tincidunt. Maecenas non ante lacinia est aliquam ultricies at in mauris. Suspendisse elementum vel lectus eget luctus. Donec risus eros, fermentum a neque ornare, euismod aliquet nisi. Nam laoreet tellus at lorem blandit, nec varius enim ultricies. Cras congue nulla non est feugiat molestie.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ui image">
        <i class="massive doctor icon"></i>
      </div>
      <div class="content">
        <div class="header">
          PLANOS DE SAÚDE
        </div>
        <div class="description">
          <p>Diante de uma legislação ineficiente, a ANS (Agência Nacional de Saúde Suplementar), tenta aplicar penalidades às operadoras diante dos desrespeitos perante o consumidor.</p>
          <p>O Ibedec Goiás, preocupado com esses abusos, trabalha diariamente em prol dos consumidores afetados por operadoras de plano de saúde. Você pode acompanhar alguns resultados do nosso trabalho <%= link_to 'clicando aqui', judgements_path %>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ui image">
        <i class="massive money icon"></i>
      </div>
      <div class="content">
        <div class="header">
          FINANCIAMENTO BANCÁRIO
        </div>
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim egestas dui, et semper ligula bibendum nec. Praesent sapien augue, molestie sit amet laoreet non, accumsan in lorem. Pellentesque non mollis felis, id efficitur neque. Donec id ultrices tortor, vitae tempus odio. Vestibulum diam magna, tincidunt vitae ultrices id, consectetur ut est. Duis tristique at sapien nec tincidunt. Maecenas non ante lacinia est aliquam ultricies at in mauris. Suspendisse elementum vel lectus eget luctus. Donec risus eros, fermentum a neque ornare, euismod aliquet nisi. Nam laoreet tellus at lorem blandit, nec varius enim ultricies. Cras congue nulla non est feugiat molestie.</p>
        </div>
      </div>
    </div>
  </div>
</div>