<div class="ui container news">
  <h2 class="ui center aligned header"><%= @post.title %></h2>
  <p class="date"><%= l(@post.created_at) %></p>
  <div class="description">
    <%= @post.body.html_safe %>
  </div>
  <%= link_to :back, class: 'ui blue inverted button' do %>
    <i class="arrow left icon"></i>
    Voltar
  <% end %>
</div>