/*--------------------
       News
---------------------*/

.ui.container.news {
  .ui.center.aligned.header {
    margin: 1.5em 0 0.2em;
  }

  .date {
    text-align: center;
  }

  .description {
    margin: 3em 0 2em;
    text-align: justify;
  }
}