<p>Olá, <%= @resource.first_name %>!</p>

<p>Você pediu para alterar a sua senha. Você pode definir sua nova senha através do link abaixo:</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não quer ou não pediu para alterar a sua senha, por favor, ignore este email.</p>
<p>Sua senha não será alterada enquanto você não acessar o link acima e criar uma nova senha.</p>
